[submodule "src/motion/mpc"]
	path = src/external/mpc
	url = https://gitlab.com/aninnymouse/mpc.git
[submodule "src/external/robot_localization"]
	path = src/external/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
