[submodule "src/motion/mpc"]
	path = src/external/mpc
	url = https://gitlab.com/aninnymouse/mpc.git
[submodule "src/external/apex_test_tools"]
	path = src/external/apex_test_tools
	url = https://gitlab.com/ApexAI/apex_test_tools.git
