span.lineno,
span.bash-prompt {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

span.bash-prompt {
  color: #e08000; }

.linenum-toggle {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 80%; }

.line .lineno {
  margin-right: 6px; }

.search-section {
  font-weight: 700;
  padding-top: 1.3rem; }
